header {
    nav {
        background-color: #fbfff1;

        .logo {
            max-height: 300px;
        }

        .activo {
            font-weight: bolder;
            background-color: #fbfff1;
        }
    }
}