#indexsection{
    display: flex;
    justify-content: center;
    background-color: #fbfff1;
}

.container{
    justify-content: center;
}

.carousel-inner {
    max-width: 1062px;
}

.flechita{
    background-color: #654328;
}