    main{
        padding-left: 200px;
        padding-right: 200px;
    }

   section{
       display: flex;
       justify-content: center;
       margin-top: 1%;
       border: 2px, solid, #654328;       
   }

   section img{
    margin: 4%;
    height: 30vh;
    width: 30vw;
   }

   section article{
    align-content: center;
   }

   .parrafo{
    margin-right: 50px;
    margin-left: 50px;
    border: 2px, solid, black;
   }

   h1{
       text-align: center;
   }   
