*{
    margin: 0;
    padding: 0;   
   }
   
   .logo{
       height: 20vh;
       weight: 20vw;
   }
   
   li{
       list-style: none;
       border: 1px, solid, black;
   }
   
   a{
       color: black;
       text-decoration: none;
   }
   
   .activo{
       background-color: #fbfff1;
   }
   
   .activo a{
    font-weight: bolder;
    color: #654328;
    }

    li a:hover{
 font-weight: bolder;
 color: #654328;
    }
   
    .iconos{
       height: 5vh;
       weight: 5vw;
   }

   footer{
    margin-top: 2rem;
   }