   #mainn{
    text-align: center;
    padding: 2rem;
   }   

   h1{
       margin-top: 3%;
       color: #654328;
   } 

   section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem auto;
    background-color: rgb(228, 238, 216);
    border: 2px solid #654328;
    padding: 1rem;
    gap: 1rem;
    max-width: 1200px;
}

section img,
section article {
    flex: 1 1 45%; 
    max-width: 48%;
}

section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

/* layout para telefono */
@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    section img,
    section article {
        max-width: 100%;
        flex: 1 1 100%;
    }
}