   section{
    display: flex;
    flex-wrap: wrap;
   }

   figure{
    margin: 1%;
    text-align: center;
    border: 2px , solid, #654328;
   }

   figure img{
    height: 30vh;
    width: 20vw;
   }

   h1{
       text-align: center;
   }   
